@import './node_modules/connection-line/index.css';

.graphy {
	min-height: 30rem;
	touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.graphy-node {
	z-index: 2;
	display: inline-block;
	margin: 1rem;
	position: relative;
	width: 4rem;
	height: 4rem;
	touch-callout: none;
	cursor: pointer;
	/*outline: 1px solid lightgray;*/
}
.graphy-node:focus {
	outline: none;
	cursor: default;
}

.graphy-node-thumbnail {
	position: relative;
	width: 4rem;
	height: 4rem;
	text-align: center;
	line-height: 4rem;
	font-size: 2.4rem;
	font-weight: bolder;
	z-index: 2;
	cursor: inherit;
}
.graphy-node:focus .graphy-node-thumbnail,
.graphy-node-focus .graphy-node-thumbnail {
	box-shadow: 0 0 0 4px lightgray;
	border-radius: 4rem;
}

.graphy-node-title {
	box-shadow: none;
	padding: 0;
	margin: 0;
	text-align: center;
	border: 0;
	display: block;
	width: 6rem;
	margin-left: -1rem;
	resize: none;
	background: none;
	max-height: 4rem;
	position: absolute;
}
.graphy-node-title:focus {
	outline: none;
}

.graphy-node-input, .graphy-node-output {
	position: absolute;
	z-index: 1;
	visibility: hidden;
}
.graphy-node-output {
	top: 1rem;
	height: 2rem;
	width: .5rem;
	right: -.5rem;
	background: rgba(0,255,0,0.3);
	cursor: pointer;
}
.graphy-node:focus .graphy-node-output {
	visibility: visible;
}
.graphy-node-output:after {
	content: '';
	position: absolute;
	top: -.5rem;
	right: -1.5rem;
	border-right: none;
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
	border-left: 1.5rem solid rgba(0,255,0,0.3);
}
.graphy-node-input {
	top: 1rem;
	height: 2rem;
	width: .5rem;
	left: -1.5rem;
	background: rgba(255,0,0,0.3);
}
.graphy-node-input:after {
	content: '';
	position: absolute;
	top: -.5rem;
	left: .5rem;
	border-right: none;
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
	border-left: 1.5rem solid rgba(255,0,0,0.3);
}
.graphy-connecting .graphy-node-input {
	visibility: visible;
}
.graphy-connecting .graphy-node-focus .graphy-node-input {
	visibility: hidden;
}
.graphy-connecting .graphy-node-output {
	visibility: hidden!important;
}


.graphy-connection {
	z-index: 1;
}
.graphy-connection-hangling {
	cursor: drag;
	touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	/*outline: 1px solid red;*/
}